@import ../../Colors.sass

.mainBar
    width: 77.5%
    height: 100% 

    background-image: $mainBarColor
    position: relative
    color: $fontColor
    float: left
    margin-right: 2.5%
    border-radius: 2.5vh

    h1
        height: 7vh
        font-size: 5vh
        margin: 4vh

.quatityTitle
    position: absolute
    top: 14%
    left: 35%

    font-size: 2vh
    color: gray
    font-style: italic

.priceTitle
    position: absolute
    top: 95%
    left: 1%

    font-size: 2vh
    color: gray
    font-style: italic