@import ../../Colors.sass

.mainBar
    width: 77.5%
    height: 100% 

    background-image: $mainBarColor
    position: relative
    color: white
    float: left
    margin-right: 2.5%
    border-radius: 2.5vh

    h1
        font-size: 5vh
        margin-left: 5vh
