@import ../../Colors.sass
    
.sideBar
    width: 15%
    height: 100%
    background-image: $sideBarColor
    position: relative
    border-radius: 2.5vh
    float: left

    box-sizing: border-box
    padding-top: 1.5vh

.city
    width: 80%
    height: 3.85vh

    margin-top: 2.5%
    margin-right: auto
    margin-left: auto

    border-radius: 5vh
    font-size: 3vh
    
    color: white

    text-align: center
    cursor: default
    transition: 200ms
    user-select: none
    &:hover
        transition: 200ms
        background-color: white
        color: inherit
        //color: rgba(255, 255, 255, 0)
        opacity: 80%
    
    &:active
        transform: scale(0.9)
        transition: 25ms
    
