@import ./Colors.sass

body
    margin: 0
    background-image: $backgroundColor

.container
    width: auto
    height: auto

.content
    width: 190vh
    height: 90vh

    margin-top: 5vh
    margin-bottom: 5vh
    margin-right: auto
    margin-left: auto

.clearBoth
    clear: both

.city
    background-color: white
    opacity: 50%