body
    margin: 0
    background-color: black

.container
    width: auto
    height: auto

.content
    width: 120vh
    height: 90vh

    border: 1px red solid

    margin-top: 5vh
    margin-bottom: 5vh
    margin-right: auto
    margin-left: auto
    
.mainBar
    width: 77.5%
    height: 95% 
    background-color: gray
    position: relative
    margin-right: 2.5%
    margin-top: 2.5%
    margin-bottom: 2.5%
    float: left

.sideBar
    width: 20%
    height: 95%
    background-color: blue
    position: relative

    float: left

.clearBoth
    clear: both