@import ./Colors.sass
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans 
  font-family: "Open Sans", sans-serif
  font-optical-sizing: auto
  font-style: normal

body
    margin: 0
    background-image: $backgroundColor
    font-family: "Open Sans"

.container
    width: auto
    height: auto

.content
    width: 190vh
    height: 90vh

    margin-top: 5vh
    margin-bottom: 5vh
    margin-right: auto
    margin-left: auto

.clearBoth
    clear: both